html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
header{
 box-sizing: broder-box;
 margin: 0;
 padding: 0;
 background-color: rgb(195, 199, 196);}
.menu{
    height: 25%;
    display: flex;
    background-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}
.menu ul{
    text-decoration: none;
    float: right;
    
}
.menu li{
    list-style-type: none;
    float: left;
    min-width: 7.5em;
    margin-top: 3%;
}
.menu li ul {
    display: none;
    position: absolute;
    list-style: none;
    background-color: rgb(158, 158, 158);
}
.menu li ul li:hover{
    background-color: none;
}
.menu li:hover ul {
    display:block;}
.menu li a:link{
    color: black;
    text-decoration: none;
    padding: 1em;
}
.menu li a:visited{
    color: black;
    text-decoration: none;
}
.menu li a:hover{
    color: black;
    background-color: rgb(158, 158, 158);
    border: 15% none
}
.menu li a:active{
    color: white;
}
.logo{
    margin-top: 2%
}
.lista{
    background-color: darkgray
}
.lista li{
    min-width: 0.1em;
    list-style-type: none;
    padding: 1em
}
.lista li:hover{
    list-style-type: none;
    padding: 1em;
    font-size: 1.1em
}
.lista{
    position: absolute
}
footer{
    text-align: center;
    margin-top: 1%;
}

#line h1{
	font-family:Impact,sans-serif;
	font-weight: normal;
	font-size: 30px;
	text-transform: uppercase;
    color: black;
    text-align:  center;
}
#line .h1 .dline{
	display: inline-block;
	*display: inline;
	zoom:1;
    margin: 0 0 10 px;
}
#line .dline{
		margin: 0 0 0 80px;
}
.dline{
	width: 312px;
	height: 3px;
	background: url('../images/bgdline.png') repeat-x ;
	margin-bottom: 10px;
}
#ourserv article{
	width: 275px;
	display: inline-block;
	*display: inline;
	zoom:1;
	vertical-align: top;
	margin: 0 38px 0 0;
}
#ourserv article h1, #latestp article h1{
	font-family: sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 22px;
	margin-bottom: 5px;
}
.lastarticle{
	margin:0;
}
#ourserv{
	margin: 8px 0 15px 20px;
	width: 100%;
}
#ourserv img, #latestp img{
    width: 80%;
    height: 70%;
	margin-bottom: 5px;
    box-shadow: 0 4px 6px #000;
}	

#sline h1{
	font-family: Impact, sans-serif;
	font-weight: normal;
	font-size: 30px;
	text-transform: uppercase;
	color: black;
	text-align:  center;
}
#sline h1, .sdline{
    display: inline-block;
	*display: inline;
	zoom:1;
	margin: 0 0 0 10px;
}
#sline{
	margin: 20px 0 10px 80px;
}
.sdline{
	width: 300px;
	height: 2px;
	background: url('../images/bgdline.png') repeat-x ;
	margin-bottom: 10px;
}
#latestp article{
	width: 210px;
	display: inline-block;
	*display: inline;
	zoom:1;
	margin-right: 20px;
}
#latestp{
	margin-left: 20px;
}
.imatge{
    width: 20
}
.subtitol{
    margin-left: 20%;
    margin-right: 20%;
    text-align: left
}
.boton{
    text-align: center;
    padding: 1em;
    background-color: beige;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 1em;
    font-size: 15px;
    vertical-align: bottom;
    margin-top: 0.2em;
}

.boton:hover{
    text-align: center;
    padding: 1.2em;
    background-color: bisque;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 1em;
    font-size: 17px;
    margin-top: 0.2em;
}

