html{
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    
}
.menu{
    width:100%;
    height: 25%;
    background-color: rgb(195, 199, 196);
    display: flex;
    background-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}
.menu ul{
    text-decoration: none;
    float: right;
    
}
.menu li{
    list-style-type: none;
    float: left;
    min-width: 7.5em;
    margin-top: 3%;
}
.menu li ul {
    display: none;
    position: absolute;
    list-style: none;
    background-color: rgb(158, 158, 158);
}
.menu li ul li:hover{
    background-color: none;
}
.menu li:hover ul {
    display:block;}
.menu li a:link{
    color: black;
    text-decoration: none;
    padding: 1em;
}
.menu li a:visited{
    color: black;
    text-decoration: none;
}
.menu li a:hover{
    color: black;
    background-color: rgb(158, 158, 158);
    border: 15% none
}
.menu li a:active{
    color: white;
}
.logo{
    margin-top: 2%
}
.lista{
    background-color: darkgray
}
.lista li{
    min-width: 0.1em;
    list-style-type: none;
    padding: 1em
}
.lista li:hover{
    list-style-type: none;
    padding: 1em;
    font-size: 1.1em
}
.lista{
    position: absolute
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-left: auto;
    margin-right: auto

}
.flex div{
    background-color: lightgray;
    border: 0.3rem solid gray;
    border-radius: 1em;
    width: 23%;
    margin: 0.2%;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 25px black;
    margin-top: 5%
}
.imagen{
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5em
}
.escudo{
    width: 15%;
    float: right;
}

.boton{
    text-align: center;
    padding: 1em;
    background-color: beige;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 1em;
    font-size: 15px;
    vertical-align: bottom
}
.boton:hover{
    text-align: center;
    padding: 1.2em;
    background-color: bisque;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 1em;
    font-size: 17px
}
h1{
    color:maroon;
}
footer{
    text-align: center
}